#login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.switch {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vw;
}

.switch button {
  border: none;
  width: 8vw;
  font-size: 1.2vw;
  padding: 1vw;
  cursor: pointer;
}

.btnLogin {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btnSignup {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.switch button {
  color: #a173b3;
  outline: none;
}

.switch button:focus {
  background-color: #a173b3;
  color: white;
}

.switch button.focus {
  background-color: #a173b3;
  color: white;
}

.imgWelcome {
  background-color: #a173b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.imgWelcome img {
  width: 15vw;
}

.imgWelcome p {
  font-size: 3vw;
  color: #303030;
  text-align: center;
}

.formLogin {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputsLogin {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.inputsLogin input {
  margin-bottom: 1vw;
  padding: 1vw;
  border-radius: 1vw;
  border: 1px solid #606060;
  font-size: 1vw;
  box-sizing: border-box;
}

.btnSubmit {
  background-color: #a173b3;
  border: none;
  border-radius: 1rem;
  width: 10vw;
  font-size: 1.2vw;
  color: white;
  align-self: center;
  padding: 1vw;
  margin-top: 1vw;
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: green;
}

.passwordLogin {
  position: relative;
}

.passwordLogin input {
  width: 100%;
}

.password-toggleLogin {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  right: 2rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  #login {
    display: flex;
    flex-direction: column;
  }

  .imgWelcome {
    height: 20vw;
  }

  .formLogin {
    padding-top: 2vw;
    height: 100%;
  }

  .switch button {
    width: 20vw;
    font-size: 3vw;
  }

  .inputsLogin {
    width: 60vw;
  }

  .inputsLogin input {
    padding: 2vw;
    font-size: 2vw;
  }

  .btnSubmit {
    width: 15vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 700px) {
  .switch button {
    width: 30vw;
    font-size: 4vw;
  }

  .inputsLogin {
    width: 80vw;
  }

  .inputsLogin input {
    padding: 3vw;
    font-size: 3vw;
  }

  .btnSubmit {
    margin-top: 4vw;
    width: 20vw;
    font-size: 3vw;
  }
}
