#dashboard {
  width: 100%;
}

#headerLists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 2rem 8rem;
}

.newList {
  background-color: #a173b3;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.newList:hover {
  background-color: #773790;
}

.plus {
  margin-left: 1rem;
}

.searchLists {
  display: flex;
}

.searchLists select,
.searchLists input[type="text"] {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.searchLists select {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-right: 2rem;
}

.searchLists input[type="text"] {
  padding-right: 9rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.searchLists select option:checked {
  display: none;
}

.totalLists {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 80vh;
}

.lists h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

@media screen and (max-width: 920px) {
  #headerLists {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 770px) {
  .newList {
    font-size: 2.5vw;
    padding: 1.5vw;
  }

  .searchLists select {
    font-size: 2.5vw;
    padding-right: 1vw;
  }

  .searchLists input[type="text"] {
    font-size: 2.5vw;
    padding-right: 1.4vw;
  }

  .totalLists {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  #headerLists {
    flex-direction: column;
  }

  .newList {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 2rem;
  }

  .searchLists {
    margin-bottom: 2rem;
  }

  .searchLists select {
    font-size: 0.8rem;
  }

  .searchLists input[type="text"] {
    font-size: 0.8rem;
  }

  .totalLists {
    font-size: 1rem;
  }
}
