#dashboard {
  width: 100%;
}

#headerLists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 2rem 8rem;
}

.newList {
  background-color: #a173b3;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.newList:hover {
  background-color: #773790;
}

.plus {
  margin-left: 1rem;
}

.searchLists {
  display: flex;
}

.searchLists select,
.searchLists input[type="text"] {
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.searchLists select {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-right: 2rem;
}

.searchLists input[type="text"] {
  padding-right: 9rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.totalLists {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

#lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 80vh;
}

#lists h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  max-width: 20vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h1 {
  margin-bottom: 2rem;
}

.modalContent input,
.modalContent select,
.modalContent textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.modalContent button:first-of-type {
  background-color: #a173b3;
  color: #fff;
}

.modalContent button:last-of-type {
  background-color: #fff;
  color: #a173b3;
  border: 3px solid #a173b3;
}

.modalContent button:first-of-type:hover {
  background-color: #773790;
}

.modalContent button:last-of-type:hover {
  background-color: #a173b3;
  color: white;
}

@media screen and (max-width: 1100px) {
  .modalContent {
    max-width: 80vw;
    width: 100%;
  }

  .modalContent input,
  .modalContent select,
  .modalContent textarea {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .buttons button {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 920px) {
  #headerLists {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 770px) {
  .newList {
    font-size: 2.5vw;
    padding: 1.5vw;
  }

  .searchLists select {
    font-size: 2.5vw;
    padding-right: 1vw;
  }

  .searchLists input[type="text"] {
    font-size: 2.5vw;
    padding-right: 1.4vw;
  }

  .totalLists {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  #headerLists {
    flex-direction: column;
  }

  .newList {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 2rem;
  }

  .searchLists {
    margin-bottom: 2rem;
  }

  .searchLists select {
    font-size: 0.8rem;
  }

  .searchLists input[type="text"] {
    font-size: 0.8rem;
  }

  .totalLists {
    font-size: 1rem;
  }

  .modalContent {
    max-width: 100vw;
  }

  .modalContent input,
  .modalContent select,
  .modalContent textarea {
    font-size: 1.5rem;
    padding: 1.3rem;
  }

  .buttons button {
    font-size: 1.5rem;
  }
}
