.listItems {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bothItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.item,
.completedItem {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.item input,
.item select,
.completedItem input,
.completedItem select {
  border: none;
}

.completedItem {
  text-decoration: line-through;
}

.item .square {
  color: rgb(64, 64, 163);
  cursor: pointer;
}

.times {
  color: rgb(160, 6, 6);
  cursor: pointer;
}

.itemName {
  width: 6rem;
}

.itemQuantity,
.itemPrice {
  width: 2rem;
}

.completedItem .square {
  color: green;
  cursor: pointer;
}

.newItem {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 20px;
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.newItem input,
.newItem select {
  border: 0.1px solid gray;
  color: gray;
  border-radius: 0.3rem;
}

.newItem .plus {
  color: gray;
  margin: 0;
}

.newItem .check {
  color: rgb(77, 146, 77);
  cursor: pointer;
}

.labels {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.labels::after {
  content: "";
}

.labels::before {
  content: "";
}
