#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: visible;
  height: fit-content;
}

#profile h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

.formProfile {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-bottom: 70px;
}

.input-container {
  position: relative;
}

.formProfile label {
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
}

.formProfile input {
  margin: 1rem 0;
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid gray;
  font-size: 1.2rem;
  width: 100%;
}

.buttonsProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnSave,
.btnDelete {
  margin: 1rem 0;
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.btnSave {
  background-color: #a173b3;
  color: white;
}

.btnSave:hover {
  background-color: #773790;
}

.btnDelete {
  background-color: white;
  color: #a173b3;
  border: 3px solid #a173b3;
}

.btnDelete:hover {
  background-color: #a173b3;
  color: white;
}

.photoProfile {
  display: flex;
  margin-bottom: 1rem;
}

.photoProfile input {
  margin: 0;
  align-self: flex-end;
}

.photoProfile img {
  width: 10rem;
  margin-right: 2rem;
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  width: 50vw;
}

.password-toggle {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 2rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .photoProfile {
    display: flex;
    flex-direction: column;
  }
  .photoProfile input {
    margin-top: 1rem;
    align-self: flex-start;
    max-width: 100%;
  }
  .buttonsProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  #profile {
    margin-bottom: 10rem;
  }
}
