#footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #a173b3;
  padding: 1rem 8rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
}

@media screen and (max-width: 400px) {
  #footer {
    padding: 1rem 2rem;
  }
}
