#footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #a173b3;
  padding: 1rem 6rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
}

@media screen and (max-width: 500px) {
  #footer {
    padding: 1rem 1.5rem;
  }
  p {
    font-size: 0.75rem;
  }
}
